/* optional shadow and border*/
/* .crop-and-upload-container {
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  text-align: center;
} */

.crop-label {
  /* padding-bottom: 4%; */
}
