html > * {
  box-sizing: border-box;
}
body {
  font-family: Nunito, Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #f7f7f7;
}

html,
body,
#root,
.App {
  height: 100%;
}
.App {
  /* border: 1px solid red; */
  /* display: flex;
  flex-direction: column; */
  min-height: calc(100vh - 72px);
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

a {
  text-decoration: none;
  color: #02bff2;
}

/* Home Page------------------ */
.wishtender_4point_explanation .title {
  text-align: center;
  font-size: 2rem;
}

/* Landing Page------------------ */
.large_explanation {
  background: no-repeat url("./images/app_demo_banner_small.jpg");
  text-align: center;
  background-size: contain;
  background-position-y: top;
  padding: 70vw 5% 5% 5%;
}
.large_explanation h2 {
  font-size: 5vw;
}
.large_explanation p {
  font-size: 2.7vw;
}

.large_explanation.MuiGrid-spacing-xs-3 {
  width: auto;
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .large_explanation p,
  .large_explanation h2 {
    width: 60%;
  }
  .large_explanation h2 {
    font-size: 3vw;
  }
  .large_explanation p {
    font-size: 2vw;
  }
  .large_explanation {
    padding: 5%;
    text-align: left;
    background: no-repeat url("./images/app_demo_banner_1.jpg");
    background-size: cover;
    background-position-y: bottom;
  }
}

/* Thank You------------------ */

.thank_you {
  font-size: 3.6vw;
  padding: 5vw;
  text-align: center;
  margin: auto;
}
.thank_you h2 {
  font-size: 4.6vw;
}

@media only screen and (min-width: 600px) {
  .thank_you {
    font-size: 2.6vw;
    width: 90%;
  }
  .thank_you h2 {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 900px) {
  .thank_you {
    font-size: 2vw;
    padding: 5vw;
    width: 80%;
  }
  .thank_you h2 {
    font-size: revert;
  }
}

/* Wishlist */

.wishlist {
  background-color: #f7f7f7;
  height: 100%;
}
.wishlist .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
  width: 100%;
}
/* override margin: -8px;  */
.wishlist .MuiGrid-spacing-xs-2 {
  margin: 0;
}

.wishlist .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  /* padding: 1em; */
}
.wish_item img {
  width: inherit;
  border-bottom: 1px solid #e8e8e8;
}
.wish_item .price {
  font-weight: 600;
}

/* add a wish button */

/* .wrapper.add_a_wish {
  padding: 2%;
} */
/* .button.add_a_wish {
  font-weight: 900;
  border-radius: 0;
  border: 4px solid #02bff2;
  width: 100%;
  transition: none;
  color: white;
  background-color: #02bff2;
} */

@media only screen and (min-width: 450px) {
  /* .wrapper.add_a_wish {
    padding: 2%;
  }

  .button.add_a_wish {
    color: #02bff2;
    background-color: #ffffff00;
    transition: none;
  }

  .button.add_a_wish:hover {
    color: white;
    background-color: #02bff2;
  } */
}

/* 4 point explanation */

.wishtender_4point_explanation {
  background: #f7f7f7;
  position: relative;
  padding: 3%;
}
.wishtender_4point_explanation .point {
  margin: 0 2%;
  /* height: 100%; */
  padding: 4% 6%;
  text-align: center;
  border-bottom: 30px solid #ffe366;
}

.wishtender_4point_explanation .point .icon img {
  width: 50%;
}
.wishtender_4point_explanation .point h3 {
  font-size: 1.3rem;
}
.wishtender_4point_explanation .point {
  font-size: 0.9rem;
}

.wishtender_4point_explanation.MuiGrid-spacing-xs-3 {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .wishtender_4point_explanation .point .icon img {
    width: 35%;
  }
}

@media only screen and (min-width: 600px) {
  .wishtender_4point_explanation .point {
    margin: 0 2%;
    height: 100%;
    text-align: center;
    border-bottom: 20px solid #ffe366;
  }

  .wishtender_4point_explanation .point .icon img {
    width: 35%;
  }
}
@media only screen and (min-width: 960px) {
  .wishtender_4point_explanation .point .icon img {
    width: 65%;
  }
}

/* hero section --------------------------------- */
.hero_section_container {
  background: rgb(189, 201, 194);
}
.hero_section .bullet_points {
  list-style-type: none;
  font-size: 4.4vw;
}
.hero_section {
  position: relative;
  overflow: hidden;
  z-index: 900;
  height: 170vw;
  background: url("./images/3-panel-mockup-vertical-web-optimized.png") bottom
    center no-repeat;
  /* background: url("./images/happy-woman-holding-package_2.jpg") bottom center * /
    no-repeat; */
  background-size: 100%;
}

/* .hero_section button,
.hero_section .button {
  color: #fff;
  background-color: #02bff2;
  font-size: 4vw;
  font-weight: bolder;
  box-shadow: none;
  border-radius: 0;
} */

/* .hero_section button:hover,
.hero_section .button:hover {
  background-color: #03b0e0;
} */
.hero_section .text {
  position: relative;
  padding: 6%;
  /* text-align: center; */
  /* background: #afefffd6; */
}
.hero_section .text h2 {
  font-size: 6vw;
  margin-top: 0;
  letter-spacing: 0.45vw;
}
.hero_section .text h3 {
  font-size: 4vw;
  letter-spacing: 0.4vw;
}

.hero_section .triangle {
  top: -60px;

  /* display: none; */
  display: block;
  position: absolute;
  left: 0;
  border-top: 130vw solid;
  border-right: 130vw solid #38c7ad00;
  border-top-color: #afefff;
}
@media only screen and (min-width: 450px) {
  .hero_section button,
  .hero_section .button {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 350px) {
  .hero_section {
    /* position: relative;
    overflow: hidden;
    z-index: 900; */
    height: 150vw;
    /* background: url("./images/3-panel-mockup-vertical.png") bottom center
      no-repeat;
    /* background: url("./images/happy-woman-holding-package_2.jpg") bottom center * /
      no-repeat; */
    /* background-size: 100%; */
  }
}
@media only screen and (min-width: 450px) {
  .hero_section {
    height: 155vw;
  }
}

@media only screen and (min-width: 600px) {
  .hero_section .bullet_points {
    list-style-type: none;
    font-size: 3vw;
  }
  .hero_section {
    height: 66vw;
    background: url("./images/3-panel-short-horizantal-web-optimized.png")
      bottom center no-repeat;

    /* background: url("./images/happy-woman-holding-package_2.jpg"); */
    background-size: 100%;
  }

  .hero_section button:hover,
  .hero_section .button:hover {
    background-color: #03b0e0;
  }
  .hero_section .text {
    position: relative;
    padding: 5%;
    background: none;
    text-align: left;
  }
  .hero_section .text h2 {
    font-size: 6vw;
    letter-spacing: 0vw;
  }
  .hero_section .text h3 {
    font-size: 2.3vw;
    letter-spacing: 0.1vw;
  }

  .hero_section .triangle {
    display: block;
    top: 0;
    position: absolute;
    left: 0;

    border-right: 70vw solid rgba(56, 199, 173, 0);
    border-top: 84vw solid;
    border-top-color: #afefff;
  }
}
@media only screen and (min-width: 960px) {
  .hero_section .bullet_points {
    list-style-type: none;
    font-size: 2.2vw;
  }
  .hero_section {
    height: 45vw;
    background: url("./images/3-panel-mockup-web-optimized.png") bottom center
      no-repeat;

    /* background: url("./images/happy-woman-holding-package_2.jpg"); */
    background-size: 100%;
  }
  /* .hero_section {
    height: 38vw;
  } */
  .hero_section button,
  .hero_section .button {
    font-size: 1.3rem;
  }
  .hero_section .text h2 {
    font-size: 4vw;
    letter-spacing: 0vw;
  }
  .hero_section .text h3 {
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
    margin-bottom: 0;
  }
  .hero_section .triangle {
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    border-right: 50vw solid rgba(56, 199, 173, 0);
    border-top: 65vw solid;
    border-top-color: #afefff;
  }
}

/* ProductInfo----- */

.not_loaded {
  opacity: 0.2;
}
.loaded {
  opacity: 1;
}
.wrapper.product_info {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-top: 4px solid #68ddfd;
  display: grid;
}
.container.product_info > * {
}
.container.product_info {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr 1fr;
  margin: auto;
  width: 90vw;
  height: 80%;
  align-items: center;
  position: relative;
  top: -2%;
}
#product_inputs {
  display: flex;
  gap: 7%;
}
#product_inputs > .input {
}
.input.name {
  flex: 3;
}
.input.price {
  flex: 1;
}
/* GetProductInfoButton */
.container.get_product_info {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon.get_product_info {
  margin: 0 0 0 4%;
  color: #fff;
  background-color: #02bff2;
}
.icon.get_product_info:hover {
  color: #fff;
  background-color: #25d3ff;
}
.input.get_product_info {
  width: 100%;
  background-color: #fff;
}

/* ProductImages----- */
#product_image {
  width: 90vw;
  height: 90vw;
  object-fit: cover;
}

.product_images.outerContainer {
  display: grid;
  justify-content: center;
}
.product_images.outerContainer h2 {
  text-align: center;
}
.product_images.container {
  display: grid;
  justify-content: center;
  margin: auto;
  position: relative;
  width: fit-content;
}
.product_images .navigation.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  bottom: 3%;
  transform: translateX(-50%);
  left: 50%;
  background-color: #ffffff99;
}
.product_images button.navigation {
  border: none;
  background-color: #ffde56;
}
.product_images button.navigation .MuiButtonBase-root.MuiIconButton-root {
  color: #fff;
}

#add_wish_button {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 0;
  font-weight: 900;
  color: white;
  height: 13vw;
}
