html > * {
  box-sizing: border-box;
}
body {
  font-family: Nunito, Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #f7f7f7;
}

html,
body,
#root,
.App {
  height: 100%;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Header.js */
header.custom {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.custom .container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

header.custom img {
  vertical-align: center;
}
.logo {
}

.menu_button {
  font-size: xx-large;
}
.container {
  /* color:#0dc4f3; */
}

header .container > * {
}

/* AppBar */

header.MuiAppBar-colorPrimary {
  color: #000;
  background-color: #fff;
  /* z-index: 800; */
}

.logo.container {
  flex-grow: 1;
}

.MuiToolbar-root .logo {
  max-width: 100%;
  vertical-align: middle;
}

header.MuiPaper-elevation4 {
  box-shadow: none;
}
header.MuiPaper-elevation4.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 600px) {
}
/* AppBar BackToTop */

.back_to_top .MuiFab-secondary {
  color: #fff;
  background-color: #02bff2;
}

.back_to_top .MuiFab-secondary:hover {
  background-color: #03b0e0;
}

/* Home Page------------------ */
.wishtender_4point_explanation .title {
  text-align: center;
  font-size: 2rem;
}

/* Profile Page------------------ */

/* ProfileSection.js  */

.profile_section {
}

.profile_section .banner_image {
  height: 30vw;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  background: #000;
}
.profile_section .banner_image img {
  width: 100%;
  opacity: 0.78;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.profile_section .info {
  position: relative;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 4%;
  padding-top: 20vw;
}

.profile_section .profile_picture.container {
  width: 25%;
}
.profile_section .profile_picture .picture {
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 0 0 5px #fff;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
}
.profile_section .wishlist_name {
  font-size: 1.2rem;
  font-weight: 500;
}
.profile_section .user_name {
  font-size: 0.9rem;
  color: gray;
  padding-bottom: 2%;
}
.profile_section .profile_message {
  font-size: 0.9rem;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .profile_section .info .container.flex {
    display: flex;
    align-items: flex-end;
  }

  .profile_section .profile_picture.container {
    width: 20%;
    transform: translateY(50%);
  }

  .profile_section .container.name {
    flex-grow: 1;
  }

  .profile_section .info {
    padding-top: 10vw;
  }

  .profile_section .wishlist_name {
    font-size: 3rem;
    font-weight: 700;
  }

  .profile_section .profile_message {
    margin-left: 25%;
    font-size: 1.3rem;
  }

  .profile_section .user_name,
  .profile_section .wishlist_name {
    padding-left: 8%;
    color: white;
    width: 100%;
  }
  .profile_section .user_name {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .profile_section .profile_message {
    padding-top: 3%;
  }
}

@media only screen and (min-width: 960px) {
  .profile_section .profile_picture.container {
    width: 15%;
    transform: translateY(40%);
  }

  .profile_section .banner_image {
    height: 25vw;
  }
  .profile_section .profile_message {
    margin-left: 18%;
  }
  .profile_section .info {
    padding-bottom: 2%;
  }
}

/* Wishlist */

.wishlist {
  background-color: #f7f7f7;
  height: 100%;
}
.wishlist .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
  width: 100%;
}
/* override margin: -8px;  */
.wishlist .MuiGrid-spacing-xs-2 {
  margin: 0;
}

.wishlist .MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 2%;
}
.wish_item img {
  width: inherit;
  border-bottom: 1px solid #e8e8e8;
}
.wish_item .price {
  font-weight: 600;
}

/* add a wish button */

.wrapper.add_a_wish {
  padding: 2%;
}
.button.add_a_wish {
  font-weight: 900;
  border-radius: 0;
  border: 4px solid #02bff2;
  width: 100%;
  transition: none;
  color: white;
  background-color: #02bff2;
}

@media only screen and (min-width: 450px) {
  .wrapper.add_a_wish {
    padding: 2%;
  }

  .button.add_a_wish {
    color: #02bff2;
    background-color: #ffffff00;
    transition: none;
  }

  .button.add_a_wish:hover {
    color: white;
    background-color: #02bff2;
  }
}

/* 4 point explanation */

.wishtender_4point_explanation {
  background: #f7f7f7;
  position: relative;
  padding: 3%;
}
.wishtender_4point_explanation .point {
  margin: 0 2%;
  /* height: 100%; */
  padding: 4% 6%;
  text-align: center;
  border-bottom: 30px solid #ffe366;
}

.wishtender_4point_explanation .point .icon img {
  width: 50%;
}
.wishtender_4point_explanation .point h3 {
  font-size: 1.3rem;
}
.wishtender_4point_explanation .point {
  font-size: 0.9rem;
}

.wishtender_4point_explanation.MuiGrid-spacing-xs-3 {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .wishtender_4point_explanation .point .icon img {
    width: 35%;
  }
}

@media only screen and (min-width: 600px) {
  .wishtender_4point_explanation .point {
    margin: 0 2%;
    height: 100%;
    text-align: center;
    border-bottom: 20px solid #ffe366;
  }

  .wishtender_4point_explanation .point .icon img {
    width: 35%;
  }
}
@media only screen and (min-width: 960px) {
  .wishtender_4point_explanation .point .icon img {
    width: 65%;
  }
}

/* hero section --------------------------------- */
.hero_section_container {
  background: rgb(189, 201, 194);
}
.hero_section {
  position: relative;
  overflow: hidden;
  z-index: 900;
  height: 130vw;
  background: url("/images/happy-woman-holding-package_2.jpg") bottom center
    no-repeat;
  background-size: 170%;
  background-position-y: 47vw;
  background-position-x: -16vw;
}

.hero_section button {
  color: #fff;
  background-color: #02bff2;
  font-size: 4vw;
  font-weight: bolder;
  box-shadow: none;
  border-radius: 0;
}

.hero_section button:hover {
  background-color: #03b0e0;
}
.hero_section .text {
  position: relative;
  padding: 6%;
  /* text-align: center; */
  /* background: #afefffd6; */
}
.hero_section .text h2 {
  font-size: 9.8vw;
  font-weight: lighter;
  margin-top: 0;
  letter-spacing: 0.45vw;
}
.hero_section .text h3 {
  font-size: 3.7vw;
  letter-spacing: 0.7vw;
}

.hero_section .triangle {
  top: -60px;

  /* display: none; */
  display: block;
  position: absolute;
  left: 0;
  border-top: 130vw solid;
  border-right: 130vw solid #38c7ad00;
  border-top-color: #afefff;
}
@media only screen and (min-width: 450px) {
  .hero_section button {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 600px) {
  .hero_section {
    /* z-index: 900; */
    height: 48vw;
    background: url("/images/happy-woman-holding-package_2.jpg");
    background-size: cover;
    background-position-x: 15vw;
  }

  .hero_section button {
    font-size: 2vw;
    color: #fff;
    background-color: #02bff2;
  }

  .hero_section button:hover {
    background-color: #03b0e0;
  }
  .hero_section .text {
    position: relative;
    padding: 5%;
    background: none;
    text-align: left;
  }
  .hero_section .text h2 {
    font-size: 6vw;
    letter-spacing: 0vw;
  }
  .hero_section .text h3 {
    font-size: 2.3vw;
    letter-spacing: 0.1vw;
  }

  .hero_section .triangle {
    display: block;
    top: 0;
    position: absolute;
    left: 0;

    border-right: 70vw solid rgba(56, 199, 173, 0);
    border-top: 84vw solid;
    border-top-color: #afefff;
  }
}
@media only screen and (min-width: 960px) {
  .hero_section {
    height: 38vw;
  }
  .hero_section button {
    font-size: 1.3rem;
  }
  .hero_section .text h2 {
    font-size: 4vw;
    letter-spacing: 0vw;
  }
  .hero_section .text h3 {
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    margin-bottom: 0;
  }
  .hero_section .triangle {
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    border-right: 50vw solid rgba(56, 199, 173, 0);
    border-top: 65vw solid;
    border-top-color: #afefff;
  }
}

/* main_menu______________________- */

/* The animation code */
@keyframes comeIn {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}
@keyframes goOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

.container_for_main_menu {
  display: block;
  position: fixed;
  z-index: 9000;
  /* background: white; */
  width: 100%;
  height: 100%;
  top: 0;
}
.main_menu {
  /* display: block; */
  position: fixed;
  z-index: 901;
  background: white;
  width: 100%;
  height: 100%;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  animation-name: goOut;
  animation-duration: 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
  animation-name: comeIn;
  animation-duration: 300ms;
}

.main_menu .MuiListItem-button {
  border-bottom: 1px solid #e6e6e6;
}
.main_menu li:first-of-type {
  border-top: 1px solid #e6e6e6;
}
.container_for_main_menu button.close {
  background-color: #c7f8ff;
  margin-left: 0;
}
.container_for_main_menu .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* drop down for larg screens----- */
.main_menu .dropdown_small {
  /* display: block; */
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 901;
  background: white;
  width: auto;
  height: auto;
}

/* ProductInfo----- */
.wrapper.product_info {
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
}
.container.product_info > * {
  margin: 2%;
  border: 1px solid #00000000;
}
.container.product_info {
  display: grid;
  padding: 4%;
  background-color: #fff;
}
#product_inputs {
  display: flex;
  gap: 7%;
}
#product_inputs > .input {
}
.input.name {
  flex: 3;
}
.input.price {
  flex: 1;
}
/* GetProductInfoButton */
.container.get_product_info {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon.get_product_info {
  margin: 0 4%;
  color: #fff;
  background-color: #02bff2;
}
.icon.get_product_info:hover {
  color: #fff;
  background-color: #25d3ff;
}
.input.get_product_info {
  width: 100%;
  background-color: #fff;
}

/* ProductImages----- */
#product_image {
  width: 70vw;
  height: 70vw;
  object-fit: cover;
}

.product_images .navigation.container {
}
.product_images button.navigation {
  border: none;
}
